@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --OPEN_SANS: Open Sans, sans-serif;
  --FIRST_PRIMARY_COLOR: #28a745;
  --SECOND_PRIMARY_COLOR: #0284d0;
  --TERTEARY_PRIMARY_COLOR: #f4f4f4;
  --FIRST_PRIMARY_TEXT: #333;
  --FIRST_DEFAULT_COLOR: #fff;
  --SECOND_DEFAULT_COLOR: #000;
}

.text__primary {
  color: var(--FIRST_PRIMARY_COLOR);
}

.btn {
  background-color: var(--FIRST_PRIMARY_COLOR);
  color: var(--FIRST_DEFAULT_COLOR);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

.btn__primary,
.bg__primary {
  background-color: var(--FIRST_PRIMARY_COLOR);
  color: var(--FIRST_DEFAULT_COLOR);
}

.btn__secondary,
.bg__secondary {
  background-color: var(--SECOND_PRIMARY_COLOR);
  color: var(--FIRST_DEFAULT_COLOR);
}

.btn__dark,
.bg__dark {
  background-color: var(--FIRST_PRIMARY_TEXT);
  color: var(--FIRST_DEFAULT_COLOR);
}

.btn__light,
.bg__light {
  background-color: var(--TERTEARY_PRIMARY_COLOR);
  color: var(--FIRST_PRIMARY_TEXT);
}

.btn__outline {
  background: transparent;
  border: 1px solid var(--FIRST_DEFAULT_COLOR);
}

/* Flex Items */
.flex__items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.flex__items h4 {
  margin: 1rem 0;
}

.flex__items > div {
  padding: 2rem;
}

/* Flex columns */
.flex__columns.flex__reverse .row {
  flex-direction: row-reverse;
}

.flex__columns .row {
  display: flex;
  flex-wrap: wrap;
}

.flex__columns .column {
  flex: 50%;
  max-width: 50%;
}

.flex__columns .column .column__1,
.flex__columns .column .column__2 {
  height: 100%;
}

.flex__columns img {
  height: 100%;
  object-fit: cover;
}

.flex__columns .column__2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
}

.flex__columns h2 {
  font-size: 4rem;
  font-weight: 100;
}

.flex__columns h4 {
  margin-bottom: 1rem;
}

.flex__columns p {
  margin: 2rem 0;
}

/* Section Header */
.section__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
}

.section__header h2 {
  font-size: 4rem;
  font-weight: 300;
  margin: 2rem 0;
}

.section__padding {
  padding: 2rem 2rem 4rem;
}

/* Flex Grid */
.flex__grid .row {
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.flex__grid .column {
  flex: 25%;
  max-width: 25%;
}

.flex__grid .column:not(:last-child) {
  padding-right: 0.8rem;
}

.flex__grid .column img {
  height: 50%;
  object-fit: cover;
  padding-bottom: 0.8rem;
}
